includes:
	- phpstan-baseline.neon
	- rules.neon

parameters:
	classesAllowedToBeExtended:
		- Localheinz\PHPStan\Rules\Test\Integration\AbstractTestCase
		- PHPStan\Testing\RuleTestCase
	excludes_analyse:
		- %currentWorkingDirectory%/test/Fixture/
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
