rules:
	- Localheinz\PHPStan\Rules\Classes\AbstractOrFinalRule
	- Localheinz\PHPStan\Rules\Closures\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Closures\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Functions\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Functions\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Functions\NoParameterWithNullDefaultValueRule
	- Localheinz\PHPStan\Rules\Methods\NoConstructorParameterWithDefaultValueRule
	- Localheinz\PHPStan\Rules\Methods\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Methods\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Methods\NoParameterWithNullDefaultValueRule
