parameters:
	allowAbstractClasses: true
	classesAllowedToBeExtended: []
	classesNotRequiredToBeAbstractOrFinal: []
	interfacesImplementedByContainers:
		- Psr\Container\ContainerInterface

parametersSchema:
	allowAbstractClasses: bool()
	classesAllowedToBeExtended: listOf(string())
	classesNotRequiredToBeAbstractOrFinal: listOf(string())
	interfacesImplementedByContainers: listOf(string())

rules:
	- Localheinz\PHPStan\Rules\Closures\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Closures\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Expressions\NoCompactRule
	- Localheinz\PHPStan\Rules\Expressions\NoEmptyRule
	- Localheinz\PHPStan\Rules\Expressions\NoErrorSuppressionRule
	- Localheinz\PHPStan\Rules\Expressions\NoEvalRule
	- Localheinz\PHPStan\Rules\Expressions\NoIssetRule
	- Localheinz\PHPStan\Rules\Files\DeclareStrictTypesRule
	- Localheinz\PHPStan\Rules\Functions\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Functions\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Functions\NoParameterWithNullDefaultValueRule
	- Localheinz\PHPStan\Rules\Methods\NoConstructorParameterWithDefaultValueRule
	- Localheinz\PHPStan\Rules\Methods\NoNullableReturnTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Methods\NoParameterWithNullableTypeDeclarationRule
	- Localheinz\PHPStan\Rules\Methods\NoParameterWithNullDefaultValueRule
	- Localheinz\PHPStan\Rules\Statements\NoSwitchRule

services:
	-
		class: Localheinz\PHPStan\Rules\Classes\FinalRule
		arguments:
			allowAbstractClasses: %allowAbstractClasses%
			classesNotRequiredToBeAbstractOrFinal: %classesNotRequiredToBeAbstractOrFinal%
		tags:
			- phpstan.rules.rule
	-
		class: Localheinz\PHPStan\Rules\Classes\NoExtendsRule
		arguments:
			classesAllowedToBeExtended: %classesAllowedToBeExtended%
		tags:
			- phpstan.rules.rule

	-
		class: Localheinz\PHPStan\Rules\Methods\NoParameterWithContainerTypeDeclarationRule
		arguments:
			interfacesImplementedByContainers: %interfacesImplementedByContainers%
		tags:
			- phpstan.rules.rule
